{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="ltr" data-mode="light" class="scroll-smooths group" data-theme-color="violet">
<head>
    {% include 'partiels/header.html' %}
</head>
<body class="bg-white dark:bg-neutral-800">


    {% include 'partiels/top-header.html' %}

    
    {% include 'partiels/nav.html' %}
    
    
    
    <a href="javascript: void(0);" onclick="toggleSwitcher()" class="fixed z-40 flex flex-col gap-3 px-4 py-3 font-normal text-white group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 top-96 text-14 ltr:rounded-r rtl:rounded-l">
        <i class="text-xl mdi mdi-cog mdi-spin"></i>
    </a>
    
    <div class="main-content">
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    {% include 'partiels/footer.html' %}
    {% include 'partiels/scripts.html' %}
 
    {% block extra_js %}{% endblock %}

    <script>
        const flagMap = {
            'en': 'us.jpg',
            'fr': 'french.jpg'
            // Ajoutez d'autres langues ici si nécessaire
        };
    
        function updateFlag(languageCode) {
            const flagImg = document.getElementById('header-lang-img');
            const flagFileName = flagMap[languageCode] || 'us.jpg'; // Utilisez 'us.jpg' par défaut si la langue n'est pas trouvée
            flagImg.src = "{% static 'assets/images/flags/' %}" + flagFileName;
        }
    
        // Initial call to set the flag on page load
        document.addEventListener('DOMContentLoaded', (event) => {
            const selectedLanguage = document.querySelector('select[name="language"]').value;
            updateFlag(selectedLanguage);
        });
    </script>
    
</body>
</html>