{% extends "base2.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Set a new password | Jobcy{% endblock %}

{% block content %}
<div class="main-content mt-24">
    <div class="page-content">
        <section class="flex items-center justify-center min-h-screen py-10 group-data-[theme-color=violet]:bg-violet-500/10 group-data-[theme-color=sky]:bg-sky-500/10 group-data-[theme-color=red]:bg-red-500/10 group-data-[theme-color=green]:bg-green-500/10 group-data-[theme-color=pink]:bg-pink-500/10 group-data-[theme-color=blue]:bg-blue-500/10 dark:bg-neutral-700">
            <div class="container mx-auto">
                <div class="grid grid-cols-12">
                    <div class="col-span-12 lg:col-span-10 lg:col-start-2">
                        <div class="flex flex-col bg-white rounded-lg dark:bg-neutral-800">
                            <div class="grid flex-col grid-cols-12">
                                <div class="col-span-6 ltr:rounded-l-lg rtl:rounded-r-lg">
                                    <div class="p-10">
                                        <a href="{% url 'home' %}">
                                            <img src="{% static 'assets/images/logo-light.png' %}" alt="" class="hidden mx-auto dark:block">
                                            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" class="block mx-auto dark:hidden">
                                        </a>
                                        <div class="mt-5">
                                            <img src="{% static 'assets/images/auth/password-reset-confirm.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 rounded-b-md lg:col-span-6 group-data-[theme-color=violet]:bg-violet-700 group-data-[theme-color=sky]:bg-sky-700 group-data-[theme-color=red]:bg-red-700 group-data-[theme-color=green]:bg-green-700 group-data-[theme-color=pink]:bg-pink-700 group-data-[theme-color=blue]:bg-blue-700 lg:rounded-b-none lg:ltr:rounded-r-lg rtl:rounded-l-lg">
                                    <div class="flex flex-col justify-center h-full p-12">
                                        <div class="text-center">
                                            <h5 class="text-[18.5px] text-white">{% trans "Set a new password" %}</h5>
                                            {% if validlink %}
                                                <form method="POST" class="mt-6 space-y-6">
                                                    {% csrf_token %}
                                                    {% for field in form %}
                                                        <div>
                                                            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-50 text-start">
                                                                {{ field.label }}
                                                            </label>
                                                            <div class="mt-1">
                                                                {{ field|add_class:"w-full mt-1 group-data-[theme-color=violet]:bg-violet-400/40 py-2.5 rounded border-transparent placeholder:text-sm placeholder:text-gray-50 text-white" }}
                                                            </div>
                                                            {% if field.errors %}
                                                                <p class="mt-2 text-sm text-red-500">
                                                                    {{ field.errors|join:", " }}
                                                                </p>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                    <div>
                                                        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-900 bg-white hover:-translate-y-1.5 duration-500 ease">
                                                            {% trans "Change my password" %}
                                                        </button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <p class="mt-3 text-gray-50">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}